<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-beige">
    <a class="navbar-brand" href="#">
        <img src="../public/images/logo villas.png" width="100" height="80" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active mr-4">
                <a class="nav-link" href="#">Accueil
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" href="#">Nos agences</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" href="#">Catalogue</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" href="#">Nos réalisations</a>
            </li>
            <li class="nav-item mr-4">
                <a class="nav-link" href="#">Nous contacter</a>
            </li>
        </ul>
    </div>
</nav>